@model BLogic.Models.Clients.Client

@{
    ViewData["Title"] = "Přidat klienta";
}

<form method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
    <div class="row text-center"> 
        <h1 class="mb-0">Nový klient</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 col-md-1">
            <hr class="mb-md-5"/>
        </div>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="row justify-content-center mb-5">
            <div class="col text-center fw-bold text-danger">
                <h1>@TempData["Message"]</h1>
            </div>
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-6 col-md-3">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control"placeholder="Josef"/>
                <span asp-validation-for="FirstName" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Novák"/>
                <span asp-validation-for="LastName" class="text-danger fw-bold"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-3">
            <div class="form-group">
                <label asp-for="BirthNumber"></label>
                <input asp-for="BirthNumber" class="form-control" placeholder="9876543210"/>
                <span asp-validation-for="BirthNumber" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-3 col-md-1">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" min="1"/>
                <span asp-validation-for="Age" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-3 col-md-2"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-md-3">
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" placeholder="777000111"/>
                <span asp-validation-for="Phone" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="jmeno@domena.cz"/>
                <span asp-validation-for="Email" class="text-danger fw-bold"></span>
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col text-center">
            <button type="submit" class="btn btn-success btn-lg">Uložit</button>
            <a href="javascript: window.history.back()" class="btn btn-danger btn-lg">Zrušit</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
