#brand {
    background-color: rgba(0,0,0,0) !important;
}

ul .active {
    background-color: rgba(0,0,0,0.1) !important;
    border-radius: .25em;
}
a {
    text-decoration: none;
    border-radius: .25em;
    color: #00409f;
}

.navbar a:hover {
    background-color: rgba(0,0,0,0.1) !important;
}

#logOut:hover {
    background-color: rgba(0,0,0,0.1) !important;
}

.navbar {
    background-color: rgba(0,0,0,0.09) !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}