@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav align-items-end">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item btn-group dropstart">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Správa účtu
        </a>
        <ul class="dropdown-menu fw-bold" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item fw-bold" asp-controller="Home" asp-action="ChangePassword">Změna hesla</a></li>
            <li><a class="dropdown-item fw-bold" asp-controller="Home" asp-action="ChangeEmail">Změna emailu</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="Home" asp-action="Logout">
            <button  type="submit" class="nav-link btn btn-link text-dark fw-bold" id="logOut">Odhlásit se</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Register">Registrovat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Přihlásit se</a>
    </li>
}
</ul>
