@{
    ViewData["Title"] = "Správa smluv";
}

<div class="row mt-4">
    <div class="col-12 text-center">
        @if (!this.User.Identity.IsAuthenticated)
        {
            <h1 class="display-1 mb-0">Vítejte!</h1>
        }
        else
        {
            <h1 class="display-1 mb-0">Vítejte!</h1>
        }
    </div>
</div>
<div class="row justify-content-center my-0 mb-md-5">
    <div class="col-2 col-md-1"><hr/></div>
</div>
    @if (ViewBag.Message != null)
    {
        <div class="row mb-3 text-white justify-content-center">
            <div class="col-8 col-md-4 text-center bg-success rounded">
                <h4 class="mb-0">@ViewBag.Message</h4>
            </div>  
        </div>
    }
<div class="row">
    <div class="col text-center">
        @if (!this.User.Identity.IsAuthenticated)
        {
            <h1 class="display-4">Pro pokračování se prosím <a asp-controller="Home" asp-action="Login">přihlašte.</a></h1>
        }
        else
        {
            <a class="weatherwidget-io" href="https://forecast7.com/cs/49d2217d77/zlin-region/" data-label_1="POČASÍ" data-label_2="ZLÍNSKÝ KRAJ" data-font="Helvetica" data-icons="Climacons Animated" data-days="3" data-theme="pure" data-basecolor="" >POČASÍ ZLÍNSKÝ KRAJ</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
        }
    </div>
</div>
